name: "CI/CD to docker Hub & PPLG RTX Server"

on:
   push:
     branches: ["main"]
     
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Ambil kodingan dari Github
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2. Login ke Docker Hub (supaya bisa upload image)
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Build dan Upload Image ke Docker Hub
    - name: "Build and Push Docker Image"
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/quiz-app:latest
    
    # 4. Kontak Komodo Server agar menarik image baru
    - name: Trigger Komodo Deployment
      run: |
        # Cek apakah webhook URL sudah di-set
        if [-z "${{ secrets.KOMODO_WEBHOOK_URL }}"]; then
          echo "Webhook URL belum disetting. Langkah ini dilewati dulu"
        else 
          curl -X POST ${{ secrets.KOMODO_WEBHOOK_URL }}
          echo " Webhook Komodo berhasil dipanggil "
        fi

  